# 핵심 패키지
streamlit==1.51.0
streamlit-aggrid==1.1.9
streamlit-option-menu==0.4.0
streamlit-folium==0.25.3
folium==0.20.0
geopy==2.4.1
pandas==2.3.1
numpy==2.0.1
matplotlib==3.10.0
scikit-learn==1.7.1
seaborn==0.13.2

# 지도 관련
osmnx==2.0.6
geopandas==1.1.1
shapely==2.1.2
pyproj==3.7.1

# Chatbot 관련
langchain==1.0.3
langchain-community==0.4.1
langchain-core==1.1.0
langchain-google-genai==3.1.0
langchain-openai==1.0.1
google-generativeai==0.8.5
google-genai==1.47.0
google-ai-generativelanguage==0.9.0
openai==0.27.10
tiktoken==0.3.3

# 기타
requests==2.32.5
protobuf==5.29.5
PyMuPDF==1.26.5
PyPDF2==3.0.1
bcrypt==5.0.0
python-dotenv==1.2.1
