pip==25.3
streamlit==1.51.0
streamlit-aggrid==1.2.0.post1
streamlit-option-menu==0.4.0
pandas==2.3.3
numpy==1.26.4
folium==0.20.0
geopy==2.4.1
matplotlib==3.10.7
scikit-learn==1.7.2
requests==2.32.5
osmnx==1.9.6
networkx==3.4.2
google-generativeai==0.8.5
google-genai==1.47.0
genai==2.1.0
PyPDF2==3.0.1
pypdf==6.1.3
chromadb==1.0.20
langchain-core==0.3.79
langchain-community==0.3.31
langchain-google-genai==2.0.10